@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html {
  height: 100%;
}

body {
  color: #fff;
  height: 100%;
  background: #000;
  width: 100%;
  min-height: 100%;
  height: 100%;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.knopka {
  width: 280px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0 0 10px 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}
.knopka:hover .knopka__wave {
  top: -50px;
}
.knopka:hover {
  border-radius: 10px;
  -webkit-transition: all 0.8s ease 0.2s;
  transition: all 0.8s ease 0.2s;
  -webkit-box-shadow: 0 0 40px rgba(73, 115, 255, 0.6);
          box-shadow: 0 0 40px rgba(73, 115, 255, 0.6);
}
.knopka__text {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: "Montserrat";
  position: relative;
  z-index: 1;
}
.knopka__wave {
  position: absolute;
  width: 280px;
  height: 280px;
  background-color: #4973ff;
  -webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
.knopka__wave:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 250%;
  height: 250%;
  -webkit-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
          transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  background-color: #000;
  border-radius: 48%;
  -webkit-animation: waves 5s infinite linear;
          animation: waves 5s infinite linear;
}
.knopka__wave:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 250%;
  height: 250%;
  -webkit-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
          transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 44%;
  -webkit-animation: waves 10s infinite linear;
          animation: waves 10s infinite linear;
}
@-webkit-keyframes waves {
  0% {
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
            transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  }
  100% {
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
            transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
  }
}
@keyframes waves {
  0% {
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
            transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  }
  100% {
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
            transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
  }
}

.shapka__logo {
  text-align: center;
  padding: 60px;
}
.shapka__logo img {
  width: 90%;
  max-width: 800px;
}